name: CI

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    # build at least once a month
    - cron: '0 0 1 * *'

jobs:
  appimage:
    strategy:
      fail-fast: false
      matrix:
        include:
          - ARCH: x86_64
            RUNS_ON: ubuntu-24.04
          - ARCH: i386
            RUNS_ON: ubuntu-24.04
          - ARCH: aarch64
            RUNS_ON: ubuntu-24.04-arm
          - ARCH: armhf
            RUNS_ON: ubuntu-24.04-arm

    name: AppImage ${{ matrix.ARCH }}
    runs-on: ${{ matrix.RUNS_ON }}
    env:
      ARCH: ${{ matrix.ARCH }}
      APPIMAGE_EXTRACT_AND_RUN: 1
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Run build in Docker
        run: bash -euxo pipefail ci/build-in-docker.sh
      - name: Archive artifacts
        uses: actions/upload-artifact@v5
        with:
          name: AppImage ${{ matrix.ARCH }}
          path: linuxdeploy-plugin-appimage*.AppImage*

  upload:
    name: Create release and upload artifacts
    needs:
      - appimage
    runs-on: ubuntu-24.04
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v6
      - name: Inspect directory after downloading artifacts
        run: ls -alFR
      - name: Create release and upload artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
            wget -q https://github.com/TheAssassin/pyuploadtool/releases/download/continuous/pyuploadtool-x86_64.AppImage
            chmod +x pyuploadtool-x86_64.AppImage
            ./pyuploadtool-x86_64.AppImage --appimage-extract-and-run **/linuxdeploy-plugin-appimage*.AppImage*
