name: CI

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    # build at least once a month
    - cron: '0 0 1 * *'

jobs:
  appimage:
    strategy:
      matrix:
        arch: ['x86_64', 'i386']

    name: AppImage ${{ matrix.arch }}
    runs-on: ubuntu-20.04
    env:
      ARCH: ${{ matrix.ARCH }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Install dependencies
        if: ${{ matrix.ARCH == 'i386' }}
        run: |
            sudo dpkg --add-architecture i386
            sudo apt-get update
            sudo apt-get install -y g++-multilib libc6-dev:i386 libstdc++-5-dev:i386 zlib1g:i386 libfuse2:i386
      - name: Build AppImage
        run: bash -ex ci/build-appimage.sh
      - name: Archive artifacts
        uses: actions/upload-artifact@v2
        with:
          name: AppImage ${{ matrix.ARCH }}
          path: linuxdeploy-plugin-appimage*.AppImage*

  upload:
    name: Create release and upload artifacts
    needs:
      - appimage
    runs-on: ubuntu-20.04
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v2
      - name: Inspect directory after downloading artifacts
        run: ls -alFR
      - name: Create release and upload artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
            wget -q https://github.com/TheAssassin/pyuploadtool/releases/download/continuous/pyuploadtool-x86_64.AppImage
            chmod +x pyuploadtool-x86_64.AppImage
            ./pyuploadtool-x86_64.AppImage **/linuxdeploy-plugin-appimage*.AppImage*
